STS/Safewhere.Samples.STS.Common/Service References/ClaimAppService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Safewhere.Samples.STS.ClaimAppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Safewhere.Samples.STS.ClaimAppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Claim" nillable="true" type="tns:Claim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaim" nillable="true" type="tns:ArrayOfClaim" />
  <xs:complexType name="Claim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Claim" nillable="true" type="tns:Claim" />
</xs:schema>