STS/Safewhere.Samples.STS.Common/Service References/ClaimAppService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007FederationHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                <Address xmlns="http://www.w3.org/2005/08/addressing">http://www.w3.org/2005/08/addressing/anonymous</Address>
                <Metadata xmlns="http://www.w3.org/2005/08/addressing">
                  <Metadata xmlns="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <wsx:MetadataSection xmlns="">
                      <wsx:MetadataReference>
                        <Address xmlns="http://www.w3.org/2005/08/addressing">https://sdev45.safewhere.local/runtime/services/trust/mex</Address>
                      </wsx:MetadataReference>
                    </wsx:MetadataSection>
                  </Metadata>
                </Metadata>
              </Issuer>
              <sp:RequestSecurityTokenTemplate>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://claimappservice.safewhere.local/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://claimappservice.safewhere.local/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://claimappservice.safewhere.local/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Safewhere.Samples.STS.ClaimAppService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetActorClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActorClaims" />
  </wsdl:message>
  <wsdl:message name="IService_GetActorClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorClaimsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaims" />
  </wsdl:message>
  <wsdl:message name="IService_GetClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetActorClaims">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetActorClaims" message="tns:IService_GetActorClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetActorClaimsResponse" message="tns:IService_GetActorClaims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaims">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClaims" message="tns:IService_GetClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClaimsResponse" message="tns:IService_GetClaims_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007FederationHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#WS2007FederationHttpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActorClaims">
      <soap12:operation soapAction="http://tempuri.org/IService/GetActorClaims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaims">
      <soap12:operation soapAction="http://tempuri.org/IService/GetClaims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WS2007FederationHttpBinding_IService" binding="tns:WS2007FederationHttpBinding_IService">
      <soap12:address location="https://claimappservice.safewhere.local/Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://claimappservice.safewhere.local/Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>